
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Chevrolet Fame Cupatitzio</h3>
<span class="single-project-content">
                    <img alt="Chevrolet Uruapan Cupatitzio" src="images/fachada.jpg"></span>                       
					<li><span><i class="fa fa-home"></i>Av. Prolongación Lázaro Cárdenas #3591</span><span> Fracc. Jardines del BosqueC.P. 60190</span> <span>Uruapan, Michoacán</span></li>                      
					</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="map">
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>
			
</body>
</html>